<div class="main-wrap">
    <div class="container">
        <div class="main-block">
            <div class="row">
                <div class="col-md-8">
                    <banner-slides></banner-slides>
                    <latest-movie-news-and-gossips></latest-movie-news-and-gossips>
                    <movie-videos></movie-videos>
                    <movie-audios></movie-audios>
                    <latest-photo-gallery></latest-photo-gallery>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <ad-block></ad-block>
                        <latest-movies-reviews></latest-movies-reviews>
                        <latest-guess></latest-guess>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>