<div class="main-wrap">
    <div class="container">
        <div class="main-block">
            <div class="row">
                <div class="col-md-8">
                    <!-- <banner-slides></banner-slides> -->
                    <latest-news></latest-news>
                    <entertainment-news></entertainment-news>
                    <trending-news></trending-news>
                    <fashion-life-style-news></fashion-life-style-news>
                    <!-- <more-featured-news></more-featured-news> -->
                    <latest-photo-gallery></latest-photo-gallery>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <latest-videos></latest-videos>
                        <!-- <latest-featured-news></latest-featured-news> -->
                        <latest-movies-reviews></latest-movies-reviews>
                        <latest-joke></latest-joke>
                        <market-watch></market-watch>
                        <telugu-headlines></telugu-headlines>
                        <latest-guess></latest-guess>
                        <ad-block [adClient]="'ca-pub-4175750948397823'" [adSlot]="0485860357" [adWidth]="300"
                            [adHeight]="250"></ad-block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>